body {
    background-image: url(../IMAGES/imageCSS.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}

h1 {
    color: blue;
}

h2 {
    color: red;
    background-color: gray;
}

h3 {
    color: green;
}

p {
    background-color: white;
    color: black;
}