* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

header .top {
    background-color: #966700;
    height: 30vh;
}

header .menu {
    background-color: #739600;
    height: 10vh;
}

main {
    height: 50vh;
    display: flex;
}

.um {
    background-color: #008296;
    height: 100%;
    flex-grow: 3;
}

.dois {
    background-color: #008255;
    height: 100%;
    flex-grow: 7;
}

footer {
    background-color: #550096;
    height: 10vh;
}


@media screen and (max-width: 992px) {
    header .top {
        background-color: #000000;
        height: 20vh;
    }

    main {
        height: 60vh;
        flex-direction: column;
    }

    .dois {
        background-color: #96003a;
    }

    .um .dois {
        height: 50%;
        flex-grow: 1;
    }

}